body{
    margin: 0;
    padding: 0;
}

.file{
    display: grid;
    grid-template-columns: 6fr 4fr;
}
input{
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
}
form{
    padding: 2vw;
}

.pdf{
    height: 100vh;
    border: none;
}